!!! 5
html
    include head
    body
    include header

    div.container-fluid
        div.row-fluid
            include leftMenu
            div.span9
                div.row
                    h3.modelName #{model.name}
                    div.accordion(id="accordion")
                        each feature in featureForViewList
                            div.accordion-group
                                div.accordion-heading
                                    a.accordion-toggle.collapsed(data-toggle="collapse", data-parent="#accordion", href="##{feature.getValue()}") #{feature.getValue()}
                                div.accordion-body.collapse(style="height: 0px; ", id="#{feature.getValue()}")
                                    div.accordion-inner
                                        div.accordion(id="accordion-#{feature.getValue()}")
                                            each opinion in feature.getOpinions()
                                                div.accordion-group
                                                    div.accordion-heading
                                                        a.accordion-toggle.collapsed(data-toggle="collapse", data-parent="#accordion-#{feature.getValue()}", href="##{opinion.getValue().hashCode()}") #{opinion.getValue()}
                                                    div.accordion-body.collapse(style="height: 0px; ", id="#{opinion.getValue().hashCode()}")
                                                        div.accordion-inner
                                                            ul
                                                                each sentence in opinion.getSentences()
                                                                    li #{sentence}


                br
                br
                br
                br
                br
                br

                div.row
                    div.span1
                    div.span2
                        img(src='#{model.mainPhoto}')
                    div.span7
                        each feature in featureForViewList
                            div.btn-group(style="margin:10px;")
                                button.btn.dropdown-toggle(data-toggle="dropdown") #{feature.getValue()}
                                    span.caret
                                ul.dropdown-menu
                                    each opinion in feature.getOpinions()
                                        li
                                            a(href="#", rel="popover", data-content="And here's some amazing content. It's very engaging. right?") #{opinion.getValue()}
                br
                br
                br
                br
                br3
                div.row
                    div.span1
                    div.span2
                        img(src='#{model.mainPhoto}')
                    div.span7
                        each feature in featureForViewList
                            p #{feature.getValue()}
                            ul
                            each opinion in feature.getOpinions()
                                li #{opinion.getValue()}
                                ul
                                    each sentence in opinion.getSentences()
                                        li #{sentence}


                    div.span2
                        a(href='#{model.link}')
                            img(height='75%', width='75%', src='http://i.imgur.com/wdXgD.jpg')



include footer

