!!! 5
html
    include head
    body
    include header

    div.container-fluid
        div.row-fluid
            include leftMenu
            div.span9
                div.search-panel
                    form(method='GET', action='/search').form-search
                        input#searchField.input-xxlarge.search-query(type="text", name="query", size="30")
                        input(type='submit', value='Найти').btn.search-btn.btn-danger
                div.tabbable
                    div.tab-content
                        #tab1.tab-pane.active
                            div.row-fluid
                                each model, index in models
                                    if index < 3
                                        div.span4
                                            h3
                                                a#id(href="/product/#{model.id}") #{model.name}
                                            a(href="/product/#{model.id}")
                                                img(src="#{model.mainPhoto}")
                                            p
                                                a.btn(href='/product/#{model.id}') Подробнее »


                            div.row-fluid
                                each model, index in models
                                    if index > 2
                                        div.span4
                                            h3
                                                a#id(href="/product/#{model.id}") #{model.name}
                                            a(href="/product/#{model.id}")
                                                img(src="#{model.mainPhoto}")
                                            p
                                                a.btn(href='/product/#{model.id}') Подробнее »




    include footer

